html, body {
  font-size: 12px;
  font-family: "Open Sans";
  background: #EEE;
  margin-top: 3%;
  margin-left: 4%;
}

a {
  text-decoration: none;
  color: #999;
}

div.row {
  display: inline;
  float: left;
  width: 30%;
  margin-bottom: 2%;
  margin-right: 3%
}

div.player {
    clear: both;
}

audio {
  display: block;
}

div.controls label {
  text-align: right;
  width: 80px;
}

div.controls label, div.controls input, div.controls meter {
    display: inline-block;
	vertical-align: middle;
    padding: 0;
    margin: 0;
}

div.controls input, div.controls meter {
  width: 160px;
}

meter {
  height: 8px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
}